<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="example.ai.mapper.ContributionMapper">
	<resultMap id="drawingDataEntryResultMap" type="Contribution">
		<result property="character" column="character" />
		<result property="dateAdded" column="date_added" />
		<result property="compressedDrawing" column="compressed_drawing" javaType="java.util.Collection"
				typeHandler="example.ai.mybatis.BooleanCollectionTypeHandler" />
	</resultMap>
	
	<insert id="insertTrainingResource" parameterType="DrawingCommitParam">
		INSERT INTO training_data (
			character,
			compressed_drawing,
			contributor_id
		) VALUES (
			#{character},
			#{compressedDrawing, jdbcType=ARRAY, typeHandler=example.ai.mybatis.BooleanCollectionTypeHandler},
			#{contributorId}
		);
	</insert>
	
	<select id="getContributors" parameterType="ContributorsQueryParam" resultType="Contributor">
		SELECT
			id,
			ip_address,
			banned,
			(
				EXTRACT(EPOCH FROM contributors_detail_view.last_contribution_date)::double precision * 1000
			)::bigint AS last_contribution_date,
			contribution_count
		FROM
			contributors_detail_view
		ORDER BY last_contribution_date DESC
		OFFSET #{skip} LIMIT #{limit};
	</select>
	
	<select id="getContributorCount" resultType="long">
		SELECT COUNT(id)
		FROM contributors;
	</select>
	
	<select id="getContributions" parameterType="ContributionsQueryParam" resultMap="drawingDataEntryResultMap">
		SELECT
			character,
			compressed_drawing,
			(
				EXTRACT(EPOCH FROM training_data.date_added)::double precision * 1000
			) date_added
		FROM
			training_data
		WHERE contributor_id = #{contributorId}
		ORDER BY date_added DESC, id DESC
		OFFSET #{skip} LIMIT #{limit};
	</select>
	
	<select id="getContributorById" parameterType="long" resultType="Contributor">
		SELECT
			id,
			ip_address,
			banned,
			(
				EXTRACT(EPOCH FROM contributors_detail_view.last_contribution_date)::double precision * 1000
			)::bigint AS last_contribution_date,
			contribution_count
		FROM contributors_detail_view
		WHERE id = #{contributorId};
	</select>
</mapper>
